
body{
    background-image: url(/imagenes/fondo1.jpg);
    background-size: cover;
}

header {
    display: block;
    color: cadetblue;
    background-color: #1e5f6d;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav {
    display: block;
    background-color: #8ff6ff;
    text-align: center;  
}

section {
    background-color: #ededf0;
    position: relative;
    text-align: center;
    color: #1e5f6d;
    margin: 10px auto;
    height: 500px;
    width: 600px;
}

footer {
    display: block;
    color: lightblue;
    text-align: center;
    size: 10px;
    background-color: #1e5f6d;
    width: 100%;
    bottom: 0;
    position: fixed;
}
#listpublic{
    text-align: left;
    /*margin: 0 auto;*/
   /* border: 1px solid black;*/
    position: absolute;
    height: 300px;
    width: 530px;
    left: 20px;
    top: 40px;
    
}

table{
    text-align: center;
    width: 560px;
}
table th{
    border-bottom:2px solid black;
}