
body{
    background-image: url(/imagenes/fondo1.jpg);
    background-size: cover;
}


nav {
    display: block;
    background-color: #8ff6ff;
    text-align: center;  
}

section {
    background-color: #ededf0;
    position: relative;
    text-align: center;
    color: #1e5f6d;
    margin: 10px auto;
    height: 500px;
    width: 600px;
}

footer {
    display: block;
    color: lightblue;
    text-align: center;
    size: 10px;
    background-color: #1e5f6d;
    width: 100%;
    bottom: 0;
    position: fixed;
}
#listpublic{
    text-align: left;
    /*margin: 0 auto;*/
   /* border: 1px solid black;*/
    position: absolute;
    height: 300px;
    width: 530px;
    left: 20px;
    top: 40px;
    
}

table{
    text-align: center;
    width: 560px;
}
table th{
    border-bottom:2px solid black;
}

#titulo{
    text-align: center;
    text-indent: -225px;
}

#cuerpoIndex {
    display: block;
    color: #e0dfd9;
    background-color: #586467;
    text-align: center;
    /* padding-top: 1px; */
    /* padding-bottom: 10px; */
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
    font-size: 30px;
    font-family: Impact;
    /* background: lightblue; */
    border-radius: 15px;
}

#logo{
    width: 275px;
    height: 148px;
    margin: auto;
    margin-top: -46px;
    margin-bottom: -48px;
    float: left;
    
}