
body{
    background-image: url(/imagenes/fondo1.jpg);
    background-size: cover;
}
#titulo{
    text-align: center;
    text-indent: -225px;
}

#cuerpo{
    text-align: center;
    margin: 0 auto;
    border-radius: 5px;
    background: #586467;
    padding: 10px 0 40px 0;
}

#tituloIndex{
    position: initial;
    z-index: 1;
    border-left: 10px solid #ff152a;
    margin: 0 0 35px;
    color: #ff152a;
    font-size: 25px;
    font-weight: 600;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
    font-size: 40px;
    font-family: Impact;
}

#imagenes{   
}

#imagenes td img {
    width: 40px; 
    height: 40px;
    border-radius: 900px;
    
    -webkit-transform:scale(1); /*Webkit: Scale down image to 0.8x original size*/
    -moz-transform:scale(1); /*Mozilla scale version*/
    -o-transform:scale(1); /*Opera scale version*/
    -webkit-transition-duration: 0.5s; /*Webkit: Animation duration*/
    -moz-transition-duration: 0.5s; /*Mozilla duration version*/
    -o-transition-duration: 0.5s; /*Opera duration version*/
    opacity: 0.5;
}

#imagenes td img:hover {
    -webkit-transform:scale(2); /*Webkit:Modificamos tamaño a escala*/
    -moz-transform:scale(2); /*Mozilla:Modificamos tamaño a escala*/
    -o-transform:scale(2); /*Opera:Modificamos tamaño a escala*/
    -webkit-transition-duration: 0.5s; /*Webkit:Duración de la animación*/
    -moz-transition-duration: 0.5s; /*Mozilla:Duración de la animació*/
    -o-transition-duration: 0.5s; /*Opera:Duración de la animació*/
    opacity: 1;
}

#seleccionAvatar{
    background-color: #ff152a;
    color: #ffffff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 100%;
}

#texto1{
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0px 7px;
    white-space: normal;    
    color: #ffffff;
    font-family: sans-serif;        
}

#texto2{
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0px 7px;
    white-space: normal;    
    color: #ffffff;
    font-family: sans-serif;
}

#avatar{
    width: 174px        q;
    height: 29px;
    -webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
    -moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px;
    border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
    background-color: #fff;
    -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
    -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
    box-shadow: 1px 2px 5px rgba(0,0,0,.09);
    border: solid 1px #cbc9c9;
    margin-left: -5px;
    padding-left: 10px;
    
}

#campoprivado{
    border-radius: 5px;
    width: 160px;
    height: 40px;
    background: #ff152a;
    color: #ffffff;
    font-size: 20px;
}
#validaNickname{
    border-radius: 5px;
    width: 73px;
    height: 34px;
    background: #ff152a;
    color: #ffffff;
    font-size: 17px;
}

#campopublico{
    border-radius: 5px;
    width: 160px;
    height: 40px;
    background: #ff152a;
    color: #ffffff;
    font-size: 20px;
}
#crearcampo{
    border-radius: 5px;
    width: 160px;
    height: 40px;
    background: #ff152a;
    color: #ffffff;
    font-size: 20px;
}

#cuerpo table{
    margin: 0 auto;
    text-align: left;
}
#relleno{
    padding-top: 32px;
    height: 140px;
    width: 100%;
    text-align: center;
    background: #586467;
    border-radius: 5px;
}

#parrafoUnirsePartida{
    text-align: center;
    color: #e0dfd9;
    font-size: 22px;
    font-family: fantasy;
}

#claveUnirse{
    font-size: 27px;
    color: #ff152a;
    font-style: italic;
    font-family: initial; 
}

#codigoUnirse{
    width: 137px;
    height: 24px; 
}

#botonUnirse{
   border-radius: 5px;
    width: 86px;
    height: 33px;
    background: #ff152a;
    color: #ffffff;
    font-size: 20px; 
}
#cuerpoIndex {
    display: block;
    color: #e0dfd9;
    background-color: #586467;
    text-align: center;
    /* padding-top: 1px; */
    /* padding-bottom: 10px; */
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
    font-size: 30px;
    font-family: Impact;
    /* background: lightblue; */
    border-radius: 15px;
}

#logo{
    width: 275px;
    height: 148px;
    margin: auto;
    margin-top: -46px;
    margin-bottom: -48px;
    float: left;
    
}
nav {
    display: block;
    background-color: #8ff6ff;
    text-align: center;  
}

#seccionIndex{
    /*background-color: #ededf0;*/
    margin-top: 10px;
    /*border:1px solid orange;*/
    position: relative;
    margin: 10px auto;
    height: 500px;
    width: 300px;
}

footer {
    color: lightblue;
    text-align: center;    
    background-color: #1e5f6d;
    width: 100%;
    bottom: 0;
    position: fixed;
}

canvas {
  display:block;
  margin:auto;
  border:1px dashed black;
  position: relative;
  background: #1f7c2c;
}

div#partida{
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 70px;
    width: 100%;    
}

#central{
    padding-left: 25px;
    background: #8d9b9e;
    width: 600px;
    height: 408px;
    text-align: left;
    margin: 0 auto;
    border-radius: 10px;
}

.centrar{
    text-align: center;
}

.boton{
  border-radius: 5px;
    width: 130px;
    height: 33px;
    background: #ff152a;
    color: #ffffff;
    font-size: 20px; 
}

.texto{
    color: #020202;
    font-size: 20px;
    
}

.textoP{
    color: #fff;
}

#filCol{
    width: 10px;
}

#filaButton{
    text-align: center;
    
}

#indexButton{
    text-align: center;
    border-radius: 5px;
    width: 160px;
    height: 40px;
    background: #ff152a;
    color: #ffffff;
    font-size: 20px;
}